*{
    margin: 0;
    padding: 0;
    border: 0;

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    background-color: #881a1a;
    font-family: sans-serif;
}

button {
    padding: 10px 30px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 15px;
    font-size: 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px;
    background-color: #34ec7b;
}

.carta{
    width: 250px;
    height: 350px;
    background-color: #fff;
    margin-bottom: 50px;
    border-radius:10px ;
    /* Efeito 3d */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px;

    /* position:
    fixed: Fixa o elemento no documento
    relative: referência ao absolute
    absolute: Fixa o elemnto com referência ao relative 
    Neste exemplo os elementos absolute vão se posicionar na classe carta e não na classe container ou no documento*/

    position: relative;
}

.canto{
    position: absolute;
    font-size: 2rem;
    text-align: center;
}

#supEsq {
    top: 20px;
    left: 15px;
}

#infDir{
    bottom: 25px;
    right: 15px;
    transform: rotate(180deg);
}

.centro{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 10rem;
    
}