*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1080px;
    margin: 0 auto;

}

img{
    max-width: 100%;
}

/* Efeito fade manipulado pelo js (o js vai adicionar esta classe) */

#slides.fadeout{
    opacity: 0.1; /*ajuste*/
}

#slides{
    transition: opacity 2s; /* ajuste junto com js**/
    opacity: 1;
}